{% extends 'base.html' %} {% block title %} {{book.title}} {% endblock %}

{%block nav_title %} {{book.title}} {% endblock %}
{%block content %}
<div class="flex gap-8 px-4 py-10">
    <div>
        <img src="{{book.thumbnailUrl}}" alt="{{book.title}}" width="200" />
    </div>
    <div class="flex-1 flex flex-col gap-2 px-8 mb-8">
        <h3 class="text-xl font-semibold">Authors</h3>
        <p>
            {% for author in authors %}
            <a
                class="hover:text-purple-800"
                href="{% url 'author.books' author %}"
                target="_blank"
                >{{author}} </a>, 
			{% endfor %}
        </p>
        <h3 class="text-xl font-semibold">Pages :- {{book.pageCount}}</h3>
        <h3 class="text-xl font-semibold mt-2">Description</h3>
        <p>{{book.shortDescription}}</p>
        <p>{{book.longDescription}}</p>
		{% if user.is_authenticated %}
        <form
            class="flex flex-col gap-4 my-8"
            method="post"
            action="{% url 'book.review' book.id %}"
        >
            {% csrf_token %}
            <textarea
                class="p-4 border-2 border-gray-400 rounded"
                name="review"
                rows="5"
                placeholder="Write Your Review Here"
            ></textarea>
            <button
                class="
                    bg-blue-900
                    hover:bg-blue-800
                    shadow-2xl
                    text-white
                    w-48
                    p-2
                    rounded
                    self-center
                "
                type="submit"
            >
                Submit
            </button>
        </form>
		{% else %}
		<div class="my-4">
			<a href="{% url 'login' %}?next={{request.path}}" class="rounded bg-blue-500 hover:bg-blue-600  text-white pt-2 pb-3 px-4 font-semibold">Login to write reviews</a>
		</div>
		{% endif %}
		{% if reviews %}
		<h3 class="text-xl font-semibold mt-2">Reviews</h3>
		{% endif %}

        {% for review in reviews %}
		<div class="my-4">
			<div class="flex gap-4 mb-1 items-center">
				<p class="text-lg font-semibold">{{ review.user }}</p>
			    <p class="text-gray-500">{{ review.created_at }}</p>
			</div>
			<p>{{ review.body }}</p>
		</div>
        {% endfor %}
    </div>
</div>
{% endblock %}
