{% extends 'base.html' %} 

{% block title %} All Books {% endblock %}

{% block nav_title %} Django Books App {% endblock %}

{% block content %}
<div class="flex gap-8 flex-wrap align-center justify-center px-4 py-10">
    {% for book in book_list %}
    <div class="w-60 bg-gray-200 rounded flex flex-col p-4">
        <p class="text-xl my-4 self-center">{{ book.title}}</p>
        <img
            class="mt-auto self-center w-48 h-60"
            src="{{book.thumbnailUrl}}"
            alt="{{book.title}}"
        />
        <a
            class="text-xl my-4 self-center"
            href="{% url 'book.show' book.id %}"
            target="_blank"
            >View Details</a
        >
    </div>
    {% endfor %}
</div>
{% endblock %}
